In [1]:
import requests
import csv
import numpy as np
import pandas as pd
import datetime
import string

In [2]:
def CAISOrenewables(year, month, start_day, end_day, production = False, matrix = False):
    """Scrape CAISO's daily renewable watch .txt files and 
    convert to a DataFrame or Numpy record array. Will only scrape
    a range of days in a given month.
    
    Keyword arguments:
    Year -- year of the date to scrape
    Month -- Month of date to scrape
    start_day -- starting day of month to scrape
    end_day -- ending day to scrape
    production -- If False, will collect hourly breakdown of renewable resources.
                  If True, will scrape hourly breakdown of total production by resource type.
    matrix -- If False, function will return a Pandas DataFrame
              If True, will return numpy recarray
    """
    base_url = 'http://content.caiso.com/green/renewrpt/'
    tail = '_DailyRenewablesWatch.txt'
    
    rv = pd.DataFrame()
    
    for day in range(start_day, end_day + 1):
        #format date and URL to pull
        if month < 10:
            str_month = '0' + str(month)
        else:
            str_month = str(month)
        if day < 10:
            str_day = '0'+ str(day)
        else:
            str_day = str(day)
            
        str_m_day = str_month + str_day
        url = base_url + str(year) + str_m_day + tail

        #Write scraped file to drive
        caiso_data = requests.get(url).text
        txt_filename = 'CAISOdata/' + str(year) +str_m_day + '.txt'
        csv_filename = 'CAISOdata/' + str(year) + str_m_day + '.csv'
    
        with open(txt_filename, 'w') as f:
            f.write(str(caiso_data))
    
        #Convert the .txt file to a csv.
        with open(txt_filename) as txtfile, open(csv_filename,'w') as new_csv:
            for line in txtfile: 
                new_csv.write(line.replace('\t',','))

        #Get day of year for dataframe index
        date = datetime.date(year, month, day)
    
        #Load data to dataframe.
        data = pd.read_csv(csv_filename, delimiter='\t')
        
        if not production:
            data = data.iloc[range(0, 25)]
        else:
            data = data.iloc[range(28, 53)].reset_index(drop=True)
    
        #Get column names
        columns = [i for i in np.array2string(data.iloc[0].values).split(',') if len(i)>3]
    
        #Grab first row of data to put in a dictionary then append the rest.
        first_row = [[int(i)] for i in np.array2string(data.iloc[1].values).split(',') if i.isdigit()]
        df_data = dict(zip(columns, first_row))
    
        #Do the same for the rest of the rows
        for row in range(2, data.shape[0]):
            vals = [int(i) for i in np.array2string(data.iloc[row].values).split(',') if i.isdigit()]
            for item in range(len(columns)):
                df_data[columns[item]].append(vals[item])
    
        #create DataFrame with collected data
        d_df = pd.DataFrame(df_data, [date]*24)[columns]
        rv = rv.append(d_df)
        
    if matrix:
        return rv.to_records(index=True)
    
    return rv

In [3]:
#Potential idea -- see if the average solar power generation on
#the 21st of August is lower because of the solar eclipse
CAISOrenewables(2017, 8, 21, 21, matrix=False)

,Hour,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND TOTAL,SOLAR PV,SOLAR THERMAL
2017-08-21,1,971,245,164,406,2032,0,0
2017-08-21,2,971,246,174,408,2056,0,0
2017-08-21,3,971,248,175,406,1912,0,0
2017-08-21,4,972,250,175,415,1808,0,0
2017-08-21,5,972,251,175,405,1771,0,0
2017-08-21,6,973,250,175,412,1681,0,0
2017-08-21,7,972,254,175,441,1560,174,0
2017-08-21,8,971,256,174,442,1559,2376,0
2017-08-21,9,969,259,174,495,1582,5484,86
2017-08-21,10,965,258,169,463,1534,5312,141
2017-08-21,11,945,260,172,451,1372,3503,110
2017-08-21,12,939,259,176,457,1297,6329,201
2017-08-21,13,936,256,176,460,1308,8700,472
2017-08-21,14,936,257,176,468,1496,8857,527
2017-08-21,15,936,260,177,471,1584,8732,598
2017-08-21,16,936,262,175,501,1620,7983,395
2017-08-21,17,936,260,176,486,1649,7020,262
2017-08-21,18,935,258,174,528,1580,5329,228
2017-08-21,19,955,258,172,610,1644,2193,119
2017-08-21,20,964,255,172,604,1845,114,0
2017-08-21,21,967,247,171,583,2358,0,0
2017-08-21,22,970,235,171,484,2282,0,0
2017-08-21,23,970,230,171,436,1840,0,0
2017-08-21,24,971,228,172,423,1620,0,0

In [4]:
CAISOrenewables(2017, 8, 21, 21, matrix=True)

rec.array([(datetime.date(2017, 8, 21),  1, 971, 245, 164, 406, 2032,    0,   0),
           (datetime.date(2017, 8, 21),  2, 971, 246, 174, 408, 2056,    0,   0),
           (datetime.date(2017, 8, 21),  3, 971, 248, 175, 406, 1912,    0,   0),
           (datetime.date(2017, 8, 21),  4, 972, 250, 175, 415, 1808,    0,   0),
           (datetime.date(2017, 8, 21),  5, 972, 251, 175, 405, 1771,    0,   0),
           (datetime.date(2017, 8, 21),  6, 973, 250, 175, 412, 1681,    0,   0),
           (datetime.date(2017, 8, 21),  7, 972, 254, 175, 441, 1560,  174,   0),
           (datetime.date(2017, 8, 21),  8, 971, 256, 174, 442, 1559, 2376,   0),
           (datetime.date(2017, 8, 21),  9, 969, 259, 174, 495, 1582, 5484,  86),
           (datetime.date(2017, 8, 21), 10, 965, 258, 169, 463, 1534, 5312, 141),
           (datetime.date(2017, 8, 21), 11, 945, 260, 172, 451, 1372, 3503, 110),
           (datetime.date(2017, 8, 21), 12, 939, 259, 176, 457, 1297, 6329, 201),
           (datetime.date(2017, 8, 21), 13, 936, 256, 176, 460, 1308, 8700, 472),
           (datetime.date(2017, 8, 21), 14, 936, 257, 176, 468, 1496, 8857, 527),
           (datetime.date(2017, 8, 21), 15, 936, 260, 177, 471, 1584, 8732, 598),
           (datetime.date(2017, 8, 21), 16, 936, 262, 175, 501, 1620, 7983, 395),
           (datetime.date(2017, 8, 21), 17, 936, 260, 176, 486, 1649, 7020, 262),
           (datetime.date(2017, 8, 21), 18, 935, 258, 174, 528, 1580, 5329, 228),
           (datetime.date(2017, 8, 21), 19, 955, 258, 172, 610, 1644, 2193, 119),
           (datetime.date(2017, 8, 21), 20, 964, 255, 172, 604, 1845,  114,   0),
           (datetime.date(2017, 8, 21), 21, 967, 247, 171, 583, 2358,    0,   0),
           (datetime.date(2017, 8, 21), 22, 970, 235, 171, 484, 2282,    0,   0),
           (datetime.date(2017, 8, 21), 23, 970, 230, 171, 436, 1840,    0,   0),
           (datetime.date(2017, 8, 21), 24, 971, 228, 172, 423, 1620,    0,   0)],
          dtype=[('index', 'O'), ('Hour', '<i8'), ('GEOTHERMAL', '<i8'), ('BIOMASS', '<i8'), ('BIOGAS', '<i8'), ('SMALL HYDRO', '<i8'), ('WIND TOTAL', '<i8'), ('SOLAR PV', '<i8'), ('SOLAR THERMAL', '<i8')])

In [ ]:
#date for df index
date = [int(i) for i in np.array2string(data.columns.values).split(',')[0][2:].split('/')]
date = datetime.date(date[2]+2000, date[0], date[1])

#column labels
[i for i in np.array2string(data.iloc[0].values).split(',') if len(i)>3]

#values for each column
[int(i) for i in np.array2string(data.iloc[2].values).split(',') if i.isdigit()]

In [ ]:
data = pd.read_csv('outfile.csv', delimiter='\t')
data = data.iloc[range(0, 25)]

columns = [i for i in np.array2string(data.iloc[0].values).split(',') if len(i)>3]
first_row = [[int(i)] for i in np.array2string(data.iloc[1].values).split(',') if i.isdigit()]

df_data = dict(zip(columns, first_row))
df_data

In [ ]:
row = 2
while row < 25:
    vals = [int(i) for i in np.array2string(data.iloc[row].values).split(',') if i.isdigit()]
    for item in range(8):
        df_data[columns[item]].append(vals[item])
    row += 1

In [ ]:
new_df = pd.DataFrame(df_data, [date]*24)[columns]
#resulting numpy matrix as desired.
new_df.to_records(index=True)